Checks: >
  -*,
  bugprone-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,

# -bugprone-easily-swappable-parameters,
# -cppcoreguidelines-avoid-magic-numbers,
# -cppcoreguidelines-avoid-c-arrays,
# -modernize-avoid-c-arrays,
# -cppcoreguidelines-pro-type-union-access,
# -cppcoreguidelines-pro-bounds-pointer-arithmetic,
# -cppcoreguidelines-pro-type-cstyle-cast,
